In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../test/1126_English_4748_706430_1920.ann', sep='^([^\s]*)\s', engine='python', header=None).drop(0, axis=1)
df.head()

    1                                      2
0  T1   GeographicalLocation 178 184\tBorneo
1  T2    GeographicalLocation 204 209\tJapan
2  T3   GeographicalLocation 562 568\tBorneo
3  T4  GeographicalLocation 825 832\tCelebes
4  T5      Taxon 851 869\tHeosemys leytensis

In [7]:
import pandas as pd
import glob

path = r'../test/' # use your path
all_files = glob.glob(path + "/*.ann")

# create empty list to hold dataframes from files found
dfs = []

# for each file in the path above ending .ann
for file in all_files:
    #open the file
    df = pd.read_csv(file, sep='^([^\s]*)\s', engine='python', header=None).drop(0, axis=1)
    #add this new (temp during the looping) frame to the end of the list
    dfs.append(df)

#at this point you have a list of frames with each list item as one .ann file.  Like [annFile1, annFile2, etc.] - just not those names.

#handle a list that is empty
if len(dfs) == 0:
    print('No files found.')
    #create a dummy frame
    df = pd.DataFrame()
#or have only one item/frame and get it out
elif len(dfs) == 1:
    df = dfs[0]
#or concatenate more than one frame together
else: #modify this join as required.
    df = pd.concat(dfs, ignore_index=True)
    df = df.reset_index(drop=True)

#check what you've got
print(df)

        1                                            2
0      T1                        Taxon 7 16\tGRAMINEAE
1      T2                    Taxon 24 36\tTHYSANOLAENA
2      T3               Taxon 24 41\tTHYSANOLAENA Nees
3      T4             Taxon 42 61\tTHYSANOLAENA MAXIMA
4      T5      Taxon 42 68\tTHYSANOLAENA MAXIMA (Roxb)
...   ...                                          ...
2833  T54      GeographicalLocation 2644 2651\tPalawan
2834  T55                    Person 2726 2733\tWallace
2835  T56                     Taxon 2748 2755\tapitong
2836  T57         GeographicalLocation 2778 2782\tJava
2837  T58  GeographicalLocation 2791 2802\tPhilippines

[2838 rows x 2 columns]